*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: #666;
  margin: 0;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

#page-wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 10;
  left: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#services .services-heading a.hidden-sm {
  display: none;
}
@media (min-width: 768px) {
  #services .services-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #services .services-heading a.hidden-sm {
    display: flex;
    font-size: 1.635rem;
    font-weight: 600;
    text-decoration: none;
    color: #333645;
  }
  #services .services-heading a.hidden-sm:hover {
    text-decoration: underline;
  }
}

#our-services .mobile-viewall {
  text-align: center;
}
#our-services .mobile-viewall a {
  font-size: 1.635rem;
  font-weight: 600;
  text-decoration: none;
  color: #333645;
}
@media (min-width: 768px) {
  #our-services .mobile-viewall a {
    display: none;
  }
}
#our-services .mobile-viewall a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
}

.header-container {
  background-color: #fff;
  padding: 20px 0px;
}
.header-container .header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-container .header-row .menu-div {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .header-container .header-row .menu-div .search-mobile {
    display: none;
  }
}
.header-container .header-row .menu-div .menu-phone {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .header-container .header-row .menu-div .menu-phone {
    display: none;
  }
}
.header-container .header-row .menu-div .menu-phone a {
  color: #333645;
}
.header-container .header-row .menu-div .menu-actions {
  display: flex;
}
@media (max-width: 768px) {
  .header-container .header-row .menu-div .menu-actions .support,
  .header-container .header-row .menu-div .menu-actions .contact,
  .header-container .header-row .menu-div .menu-actions .menu-search {
    display: none;
  }
}
.header-container .header-row .menu-div .menu-actions a.btn {
  text-decoration: none;
  height: 56px;
  line-height: 46px;
  padding: 5px 15px;
  font-size: 1.125rem;
  border-radius: 3px;
  white-space: normal;
  text-transform: uppercase;
}
.header-container .header-row .menu-div .menu-actions a.support {
  color: #fff;
  background-color: #4183d7;
}
.header-container .header-row .menu-div .menu-actions a.contact {
  color: #fff;
  background-color: #999aa2;
}
@media (min-width: 992px) {
  .header-container .header-row .menu-div .menu-actions > * + * {
    margin-left: 20px;
  }
}
.header-container .header-row .menu-div .menu-actions .menu-search form {
  margin-bottom: 0;
}
.header-container .header-row .menu-div .menu-actions .menu-search form label {
  display: none;
}
.header-container .header-row .menu-div .menu-actions .menu-search form input {
  width: 174px;
  height: 55px;
  font-size: 13px;
  border-radius: 0;
  padding: 5px 15px;
  border-color: #ccc;
  display: inline-block;
  border: 8px solid #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
}
@media (min-width: 1260px) {
  .header-container .header-row .menu-div .menu-actions .menu-search form input {
    display: inline-block !important;
    width: 240px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-container .header-row .menu-div .menu-actions .menu-search form input {
    display: none;
  }
}
.header-container .header-row .menu-div .menu-actions .menu-search form button {
  border: none;
  height: 55px;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  position: relative;
  left: -7px;
  vertical-align: bottom;
  padding: 5px 20px 3px;
  border-radius: 0 5% 5% 0;
  background-color: #999aa2;
}
.header-container .header-row .menu-div .menu-actions .hamburger {
  display: block;
  margin-left: 20px;
  height: 56px;
  line-height: 46px;
  padding: 5px 15px;
  font-size: 1.125rem;
  border-radius: 3px;
  white-space: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #323544;
  border-color: #323544;
}
.header-container .header-row .menu-div .menu-actions .hamburger:hover {
  background-color: #22242e;
}
.header-container .header-row .menu-div .menu-actions .hamburger .ham-box {
  width: 33px;
  height: 19px;
  display: inline-block;
  position: relative;
}
.header-container .header-row .menu-div .menu-actions .hamburger .ham-box .ham-bar {
  top: 50%;
}
.header-container .header-row .menu-div .menu-actions .hamburger .ham-box .ham-bar, .header-container .header-row .menu-div .menu-actions .hamburger .ham-box .ham-bar::before, .header-container .header-row .menu-div .menu-actions .hamburger .ham-box .ham-bar::after {
  content: "";
  width: 33px;
  height: 4px;
  position: absolute;
  background-color: #fff;
  display: block;
}
.header-container .header-row .menu-div .menu-actions .hamburger .ham-box .ham-bar::before {
  top: -10px;
}
.header-container .header-row .menu-div .menu-actions .hamburger .ham-box .ham-bar::after {
  bottom: -10px;
}

.navigation {
  position: relative;
  background-color: #333645;
}
@media (max-width: 992px) {
  .navigation {
    display: none;
  }
}
.navigation ul.main-nav {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.navigation ul.main-nav > li {
  list-style: none;
  text-align: center;
}
.navigation ul.main-nav > li :hover {
  cursor: pointer;
}
.navigation ul.main-nav > li > a {
  display: block;
  color: #fff;
  line-height: 1;
  padding: 19px 0 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation ul.main-nav > li > a:not(i, small) {
  font-size: 1.125rem;
}
.navigation ul.main-nav > li > a i {
  display: block;
  font-size: 1.23rem;
  padding-bottom: 10px;
}
.navigation ul.main-nav > li > a small {
  display: block;
  font-size: 0.625rem;
  padding-bottom: 1px;
}
.navigation ul.main-nav.bespoke > a > i {
  color: #67809f;
}
.navigation ul.main-nav.support > a > i {
  color: #4183d7;
}
.navigation ul.main-nav.marketing > a > i {
  color: #2ecc71;
}
.navigation ul.main-nav.telecoms > a > i {
  color: #d64541;
}
.navigation ul.main-nav.web > a > i {
  color: #926fb1;
}
.navigation ul.main-nav.cyber > a > i {
  color: #f62459;
}
.navigation ul.main-nav.dev > a > i {
  color: #ce4125;
}
.navigation ul.main-nav.bespoke:hover, .navigation ul.main-nav.bespoke:hover > a > i {
  background-color: #67809f;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navigation ul.main-nav.bespoke:hover:hover, .navigation ul.main-nav.bespoke:hover > a > i:hover {
  background-color: #67809f;
}
.navigation ul.main-nav.support:hover, .navigation ul.main-nav.support:hover > a > i {
  background-color: #4183d7;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navigation ul.main-nav.support:hover:hover, .navigation ul.main-nav.support:hover > a > i:hover {
  background-color: #4183d7;
}
.navigation ul.main-nav.marketing:hover, .navigation ul.main-nav.marketing:hover > a > i {
  background-color: #2ecc71;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navigation ul.main-nav.marketing:hover:hover, .navigation ul.main-nav.marketing:hover > a > i:hover {
  background-color: #2ecc71;
}
.navigation ul.main-nav.telecoms:hover, .navigation ul.main-nav.telecoms:hover > a > i {
  background-color: #d64541;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navigation ul.main-nav.telecoms:hover:hover, .navigation ul.main-nav.telecoms:hover > a > i:hover {
  background-color: #d64541;
}
.navigation ul.main-nav.web:hover, .navigation ul.main-nav.web:hover > a > i {
  background-color: #926fb1;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navigation ul.main-nav.web:hover:hover, .navigation ul.main-nav.web:hover > a > i:hover {
  background-color: #926fb1;
}
.navigation ul.main-nav.cyber:hover, .navigation ul.main-navcyber:hover > a > i {
  background-color: #f62459;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navigation ul.main-nav.cyber:hover:hover, .navigation ul.main-navcyber:hover > a > i:hover {
  background-color: #f62459;
}
.navigation ul.main-nav.dev:hover, .navigation ul.main-nav.dev:hover > a > i {
  background-color: #ce4125;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.navigation ul.main-nav.dev:hover:hover, .navigation ul.main-nav.dev:hover > a > i:hover {
  background-color: #ce4125;
}

.navigation ul.main-nav > li > div.dropdown {
  margin: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1d1f28;
}
.navigation ul.main-nav > li > div.dropdown > ul.container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -15px;
  list-style: none;
  text-align: left;
}
.navigation ul.main-nav > li > div.dropdown > ul.container > li.drop-title {
  width: 100%;
  color: #fff !important;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 2rem;
}
.navigation ul.main-nav > li > div.dropdown > ul.container > li {
  width: 33%;
  margin-top: 15px;
}
.navigation ul.main-nav > li > div.dropdown > ul.container > li > a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.313rem;
  padding: 0.625rem 0.938rem 0.625rem 0;
}
.navigation ul.main-nav > li > div.dropdown > ul.container > li > a > span:hover {
  text-decoration: underline;
}
.navigation ul.main-nav > li > div.dropdown > ul.container > li > a > i {
  display: flex;
  justify-content: left;
  align-items: center;
  min-width: 25px;
}
.navigation ul.main-nav > li > div.dropdown > ul.container > li > a > span {
  margin-left: 10px;
}
.navigation ul.main-nav > li.bespoke:hover > div.dropdown {
  display: block;
  background-color: #526781;
}
.navigation ul.main-nav > li.support:hover > div.dropdown {
  display: block;
  background-color: #286abd;
}
.navigation ul.main-nav > li.marketing:hover > div.dropdown {
  display: block;
  background-color: #25a25a;
}
.navigation ul.main-nav > li.telecoms:hover > div.dropdown {
  display: block;
  background-color: #bc2c28;
}
.navigation ul.main-nav > li.web:hover > div.dropdown {
  display: block;
  background-color: #79539a;
}
.navigation ul.main-nav > li.cyber:hover > div.dropdown {
  display: block;
  background-color: #de093f;
}
.navigation ul.main-nav > li.dev:hover > div.dropdown {
  display: block;
  background-color: #a9321d;
}

footer {
  background-color: #323544;
  padding: 27px 0 0;
  position: relative;
}
footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 26px;
}
footer a {
  text-decoration: none;
  color: #fff;
}

.footer-all .netmatters-logo__footer {
  width: 250px;
}
@media (min-width: 480px) {
  .footer-all .netmatters-logo__footer {
    width: 320px;
  }
}
.footer-all .netmatters-logo__footer img {
  width: 100%;
}
.footer-all .netmatters-logo__footer h4 {
  margin-top: 24px;
}
.footer-all .social-logos {
  margin-bottom: 1.875em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-all .social-logos a {
  width: 35%;
  display: flex;
  line-height: 1.625em;
  font-size: 1.625em;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 16px;
  background-color: #212330;
}
@media (min-width: 480px) {
  .footer-all .social-logos a {
    width: auto;
  }
}
.footer-all .social-logos a.facebook:hover {
  background-color: #3b5998;
}
.footer-all .social-logos a.linkedin:hover {
  background-color: #0077b5;
}
.footer-all .social-logos a.twitter:hover {
  background-color: #00aced;
}
.footer-all .social-logos a.insta:hover {
  background-color: #d93175;
}
.footer-all .social-logos span {
  position: relative;
  top: 4px;
}

@media (min-width: 1260px) {
  footer {
    padding: 47px 0 0;
  }
}
@media (min-width: 1260px) {
  footer .footer-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
footer .footer-rows {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
@media (min-width: 768px) {
  footer .footer-rows {
    width: auto;
  }
}
@media (min-width: 1260px) {
  footer .footer-rows {
    width: 722px;
  }
}
footer .footer-rows .footer-list {
  margin-bottom: 30px;
  padding: 0 15px 0 15px;
}
footer .footer-rows .footer-list > h4 {
  margin-top: 0;
}
@media (min-width: 768px) {
  footer .footer-rows .footer-list {
    width: 50%;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  footer .footer-rows .footer-list {
    width: 25%;
  }
}
footer .footer-rows .footer-list ul.footer-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-rows .footer-list ul.footer-ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
footer .footer-rows .footer-list ul.footer-ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8125rem;
  line-height: 1.42;
  padding-top: 10px;
  width: 100%;
  background: initial #212330;
}
.footer-bottom .license, .footer-bottom a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.footer-bottom .license a:hover, .footer-bottom a a:hover {
  text-decoration: underline;
}
.footer-bottom .license span, .footer-bottom a span {
  display: flex;
  flex-direction: row;
}
.footer-bottom .license span.hyphen-hidden, .footer-bottom a span.hyphen-hidden {
  display: none;
}
@media (min-width: 768px) {
  .footer-bottom .license span.hyphen-hidden, .footer-bottom a span.hyphen-hidden {
    display: inline;
  }
}
@media (min-width: 768px) {
  .footer-bottom .license span, .footer-bottom a span {
    display: inline;
  }
}

#cookies div.cookies button.manage-consent.btn {
  left: 0;
  bottom: 0;
  z-index: 99;
  position: fixed;
  font-weight: 600;
  border-width: 1px 1px 0 0;
  border-top-right-radius: 10px;
  height: auto;
  line-height: 22px;
  padding: 0 10px;
  font-size: 0.8rem;
  white-space: normal;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #75788a;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#cookies div.cookies button.manage-consent.btn:hover {
  background-color: #75788a;
}

#page-banner {
  position: relative;
}
#page-banner .banner {
  display: flex !important;
  overflow: hidden;
  min-height: 550px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
#page-banner .banner .img-banner {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  width: 100%;
}
@media (min-width: 992px) {
  #page-banner .banner .img-banner {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  #page-banner .banner .img-banner::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(270deg, transparent 25%, #000);
  }
}
#page-banner .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page-banner .banner .content-banner {
  z-index: 4;
  color: #fff;
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 992px) {
  #page-banner .banner .content-banner {
    text-align: center;
    width: 100%;
  }
}
#page-banner .banner .content-banner h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 1.25rem;
}
@media (min-width: 992px) {
  #page-banner .banner .content-banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
#page-banner .banner .content-banner p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 10px;
}
@media (min-width: 992px) {
  #page-banner .banner .content-banner p {
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}
#page-banner .banner .content-banner a.btn {
  margin: 1.125rem 0 1.938rem 0;
  height: auto;
  line-height: 50px;
  padding: 5px 20px;
  font-size: 1.25rem;
  border-radius: 3px;
  white-space: normal;
  text-decoration: none;
  text-transform: uppercase;
}
#page-banner .banner .content-banner a.btn.webdesign {
  background-color: #926fb1;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#page-banner .banner .content-banner a.btn.webdesign:hover {
  background-color: #926fb1;
}
#page-banner .banner .content-banner a.btn.webdesign:hover {
  background-color: #79539a;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#page-banner .banner .content-banner a.btn.webdesign:hover:hover {
  background-color: #79539a;
}
#page-banner .banner .content-banner i {
  margin-right: -4px;
  margin-left: 12px;
}

#services {
  background-color: #fff;
}
#services .services-heading {
  position: relative;
}
#services .services-heading h2 {
  color: #333645;
  font-size: 2.7rem;
  font-weight: 600;
  margin-top: -13px;
  margin-bottom: 15px;
}
@media (max-width: 1259px) {
  #services .services-heading h2 {
    margin-bottom: 15px;
  }
}
#services .services-all {
  position: relative;
  display: grid;
  grid-gap: 30px;
  margin-top: 30px;
  margin-bottom: 25px;
  grid-template-areas: "soft" "supp" "digi" "tele" "des" "cyb" "dev";
}
#services .services-all .s-container1 {
  grid-area: soft;
}
#services .services-all .s-container2 {
  grid-area: supp;
}
#services .services-all .s-container3 {
  grid-area: digi;
}
#services .services-all .s-container4 {
  grid-area: tele;
}
#services .services-all .s-container5 {
  grid-area: des;
}
#services .services-all .s-container6 {
  grid-area: cyb;
}
#services .services-all .s-container7 {
  grid-area: dev;
}
@media (min-width: 768px) {
  #services .services-all {
    grid-column: repeat(2, 1fr);
    grid-template-areas: "soft soft" "supp supp" "digi digi" "tele des" "cyb dev";
  }
}
@media (min-width: 992px) {
  #services .services-all {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "soft soft supp supp digi digi" "tele tele tele des des des" "cyb cyb cyb dev dev dev";
  }
}
@media (min-width: 1260px) {
  #services .services-all {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "soft soft soft soft supp supp supp supp digi digi digi digi" "tele tele tele des des des cyb cyb cyb dev dev dev";
  }
}
#services .services-all .s-container1:hover {
  background-color: #67809f;
  border-color: #67809f;
  top: -10px;
  transition: 0.5s ease;
}
#services .services-all .s-container2:hover {
  background-color: #4183d7;
  border-color: #4183d7;
  top: -10px;
  transition: 0.5s ease;
}
#services .services-all .s-container3:hover {
  background-color: #2ecc71;
  border-color: #2ecc71;
  top: -10px;
  transition: 0.5s ease;
}
#services .services-all .s-container4:hover {
  background-color: #d64541;
  border-color: #d64541;
  top: -10px;
  transition: 0.5s ease;
}
#services .services-all .s-container5:hover {
  background-color: #926fb1;
  border-color: #926fb1;
  top: -10px;
  transition: 0.5s ease;
}
#services .services-all .s-container6:hover {
  background-color: #f62459;
  border-color: #f62459;
  top: -10px;
  transition: 0.5s ease;
}
#services .services-all .s-container7:hover {
  background-color: #ce4125;
  border-color: #ce4125;
  top: -10px;
  transition: 0.5s ease;
}
#services .services-all .s-container1, #services .services-all .s-container2, #services .services-all .s-container3, #services .services-all .s-container4, #services .services-all .s-container5, #services .services-all .s-container6, #services .services-all .s-container7 {
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  top: 0;
  transition: 0.5s ease;
}
#services .services-all .s-container1 a, #services .services-all .s-container2 a, #services .services-all .s-container3 a, #services .services-all .s-container4 a, #services .services-all .s-container5 a, #services .services-all .s-container6 a, #services .services-all .s-container7 a {
  padding: 30px;
  color: #fff;
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  text-decoration: none;
}
#services .services-all .s-container1 a:hover, #services .services-all .s-container2 a:hover, #services .services-all .s-container3 a:hover, #services .services-all .s-container4 a:hover, #services .services-all .s-container5 a:hover, #services .services-all .s-container6 a:hover, #services .services-all .s-container7 a:hover {
  border-radius: 15px;
}
#services .services-all .s-container1 a:hover h3, #services .services-all .s-container1 a:hover p, #services .services-all .s-container2 a:hover h3, #services .services-all .s-container2 a:hover p, #services .services-all .s-container3 a:hover h3, #services .services-all .s-container3 a:hover p, #services .services-all .s-container4 a:hover h3, #services .services-all .s-container4 a:hover p, #services .services-all .s-container5 a:hover h3, #services .services-all .s-container5 a:hover p, #services .services-all .s-container6 a:hover h3, #services .services-all .s-container6 a:hover p, #services .services-all .s-container7 a:hover h3, #services .services-all .s-container7 a:hover p {
  color: #fff;
}
#services .services-all .s-container1 a:hover .icon-clr1, #services .services-all .s-container1 a:hover .icon-clr2, #services .services-all .s-container1 a:hover .icon-clr3, #services .services-all .s-container1 a:hover .icon-clr4, #services .services-all .s-container1 a:hover .icon-clr5, #services .services-all .s-container1 a:hover .icon-clr6, #services .services-all .s-container1 a:hover .icon-clr7, #services .services-all .s-container2 a:hover .icon-clr1, #services .services-all .s-container2 a:hover .icon-clr2, #services .services-all .s-container2 a:hover .icon-clr3, #services .services-all .s-container2 a:hover .icon-clr4, #services .services-all .s-container2 a:hover .icon-clr5, #services .services-all .s-container2 a:hover .icon-clr6, #services .services-all .s-container2 a:hover .icon-clr7, #services .services-all .s-container3 a:hover .icon-clr1, #services .services-all .s-container3 a:hover .icon-clr2, #services .services-all .s-container3 a:hover .icon-clr3, #services .services-all .s-container3 a:hover .icon-clr4, #services .services-all .s-container3 a:hover .icon-clr5, #services .services-all .s-container3 a:hover .icon-clr6, #services .services-all .s-container3 a:hover .icon-clr7, #services .services-all .s-container4 a:hover .icon-clr1, #services .services-all .s-container4 a:hover .icon-clr2, #services .services-all .s-container4 a:hover .icon-clr3, #services .services-all .s-container4 a:hover .icon-clr4, #services .services-all .s-container4 a:hover .icon-clr5, #services .services-all .s-container4 a:hover .icon-clr6, #services .services-all .s-container4 a:hover .icon-clr7, #services .services-all .s-container5 a:hover .icon-clr1, #services .services-all .s-container5 a:hover .icon-clr2, #services .services-all .s-container5 a:hover .icon-clr3, #services .services-all .s-container5 a:hover .icon-clr4, #services .services-all .s-container5 a:hover .icon-clr5, #services .services-all .s-container5 a:hover .icon-clr6, #services .services-all .s-container5 a:hover .icon-clr7, #services .services-all .s-container6 a:hover .icon-clr1, #services .services-all .s-container6 a:hover .icon-clr2, #services .services-all .s-container6 a:hover .icon-clr3, #services .services-all .s-container6 a:hover .icon-clr4, #services .services-all .s-container6 a:hover .icon-clr5, #services .services-all .s-container6 a:hover .icon-clr6, #services .services-all .s-container6 a:hover .icon-clr7, #services .services-all .s-container7 a:hover .icon-clr1, #services .services-all .s-container7 a:hover .icon-clr2, #services .services-all .s-container7 a:hover .icon-clr3, #services .services-all .s-container7 a:hover .icon-clr4, #services .services-all .s-container7 a:hover .icon-clr5, #services .services-all .s-container7 a:hover .icon-clr6, #services .services-all .s-container7 a:hover .icon-clr7 {
  background-color: #fff;
}
#services .services-all .s-container1 a:hover .btn-icon-clr1, #services .services-all .s-container2 a:hover .btn-icon-clr1, #services .services-all .s-container3 a:hover .btn-icon-clr1, #services .services-all .s-container4 a:hover .btn-icon-clr1, #services .services-all .s-container5 a:hover .btn-icon-clr1, #services .services-all .s-container6 a:hover .btn-icon-clr1, #services .services-all .s-container7 a:hover .btn-icon-clr1 {
  background-color: #fff;
}
#services .services-all .s-container1 a:hover .btnclr1-txt, #services .services-all .s-container2 a:hover .btnclr1-txt, #services .services-all .s-container3 a:hover .btnclr1-txt, #services .services-all .s-container4 a:hover .btnclr1-txt, #services .services-all .s-container5 a:hover .btnclr1-txt, #services .services-all .s-container6 a:hover .btnclr1-txt, #services .services-all .s-container7 a:hover .btnclr1-txt {
  color: #526781;
}
#services .services-all .s-container1 a:hover .icon-clr1, #services .services-all .s-container2 a:hover .icon-clr1, #services .services-all .s-container3 a:hover .icon-clr1, #services .services-all .s-container4 a:hover .icon-clr1, #services .services-all .s-container5 a:hover .icon-clr1, #services .services-all .s-container6 a:hover .icon-clr1, #services .services-all .s-container7 a:hover .icon-clr1 {
  color: #67809f;
}
#services .services-all .s-container1 a:hover .icon-clr2, #services .services-all .s-container2 a:hover .icon-clr2, #services .services-all .s-container3 a:hover .icon-clr2, #services .services-all .s-container4 a:hover .icon-clr2, #services .services-all .s-container5 a:hover .icon-clr2, #services .services-all .s-container6 a:hover .icon-clr2, #services .services-all .s-container7 a:hover .icon-clr2 {
  color: #4183d7;
}
#services .services-all .s-container1 a:hover .icon-clr3, #services .services-all .s-container2 a:hover .icon-clr3, #services .services-all .s-container3 a:hover .icon-clr3, #services .services-all .s-container4 a:hover .icon-clr3, #services .services-all .s-container5 a:hover .icon-clr3, #services .services-all .s-container6 a:hover .icon-clr3, #services .services-all .s-container7 a:hover .icon-clr3 {
  color: #2ecc71;
}
#services .services-all .s-container1 a:hover .icon-clr4, #services .services-all .s-container2 a:hover .icon-clr4, #services .services-all .s-container3 a:hover .icon-clr4, #services .services-all .s-container4 a:hover .icon-clr4, #services .services-all .s-container5 a:hover .icon-clr4, #services .services-all .s-container6 a:hover .icon-clr4, #services .services-all .s-container7 a:hover .icon-clr4 {
  color: #d64541;
}
#services .services-all .s-container1 a:hover .icon-clr5, #services .services-all .s-container2 a:hover .icon-clr5, #services .services-all .s-container3 a:hover .icon-clr5, #services .services-all .s-container4 a:hover .icon-clr5, #services .services-all .s-container5 a:hover .icon-clr5, #services .services-all .s-container6 a:hover .icon-clr5, #services .services-all .s-container7 a:hover .icon-clr5 {
  color: #926fb1;
}
#services .services-all .s-container1 a:hover .icon-clr6, #services .services-all .s-container2 a:hover .icon-clr6, #services .services-all .s-container3 a:hover .icon-clr6, #services .services-all .s-container4 a:hover .icon-clr6, #services .services-all .s-container5 a:hover .icon-clr6, #services .services-all .s-container6 a:hover .icon-clr6, #services .services-all .s-container7 a:hover .icon-clr6 {
  color: #f62459;
}
#services .services-all .s-container1 a:hover .icon-clr7, #services .services-all .s-container2 a:hover .icon-clr7, #services .services-all .s-container3 a:hover .icon-clr7, #services .services-all .s-container4 a:hover .icon-clr7, #services .services-all .s-container5 a:hover .icon-clr7, #services .services-all .s-container6 a:hover .icon-clr7, #services .services-all .s-container7 a:hover .icon-clr7 {
  color: #ce4125;
}
#services .services-all .s-container1 a .icon-clr1, #services .services-all .s-container2 a .icon-clr1, #services .services-all .s-container3 a .icon-clr1, #services .services-all .s-container4 a .icon-clr1, #services .services-all .s-container5 a .icon-clr1, #services .services-all .s-container6 a .icon-clr1, #services .services-all .s-container7 a .icon-clr1 {
  background-color: #67809f;
}
#services .services-all .s-container1 a .btn-icon-clr1, #services .services-all .s-container2 a .btn-icon-clr1, #services .services-all .s-container3 a .btn-icon-clr1, #services .services-all .s-container4 a .btn-icon-clr1, #services .services-all .s-container5 a .btn-icon-clr1, #services .services-all .s-container6 a .btn-icon-clr1, #services .services-all .s-container7 a .btn-icon-clr1 {
  background-color: #f7b322;
}
#services .services-all .s-container1 a .icon-clr2, #services .services-all .s-container2 a .icon-clr2, #services .services-all .s-container3 a .icon-clr2, #services .services-all .s-container4 a .icon-clr2, #services .services-all .s-container5 a .icon-clr2, #services .services-all .s-container6 a .icon-clr2, #services .services-all .s-container7 a .icon-clr2 {
  background-color: #4183d7;
}
#services .services-all .s-container1 a .icon-clr3, #services .services-all .s-container2 a .icon-clr3, #services .services-all .s-container3 a .icon-clr3, #services .services-all .s-container4 a .icon-clr3, #services .services-all .s-container5 a .icon-clr3, #services .services-all .s-container6 a .icon-clr3, #services .services-all .s-container7 a .icon-clr3 {
  background-color: #2ecc71;
}
#services .services-all .s-container1 a .icon-clr4, #services .services-all .s-container2 a .icon-clr4, #services .services-all .s-container3 a .icon-clr4, #services .services-all .s-container4 a .icon-clr4, #services .services-all .s-container5 a .icon-clr4, #services .services-all .s-container6 a .icon-clr4, #services .services-all .s-container7 a .icon-clr4 {
  background-color: #d64541;
}
#services .services-all .s-container1 a .icon-clr5, #services .services-all .s-container2 a .icon-clr5, #services .services-all .s-container3 a .icon-clr5, #services .services-all .s-container4 a .icon-clr5, #services .services-all .s-container5 a .icon-clr5, #services .services-all .s-container6 a .icon-clr5, #services .services-all .s-container7 a .icon-clr5 {
  background-color: #926fb1;
}
#services .services-all .s-container1 a .icon-clr6, #services .services-all .s-container2 a .icon-clr6, #services .services-all .s-container3 a .icon-clr6, #services .services-all .s-container4 a .icon-clr6, #services .services-all .s-container5 a .icon-clr6, #services .services-all .s-container6 a .icon-clr6, #services .services-all .s-container7 a .icon-clr6 {
  background-color: #f62459;
}
#services .services-all .s-container1 a .icon-clr7, #services .services-all .s-container2 a .icon-clr7, #services .services-all .s-container3 a .icon-clr7, #services .services-all .s-container4 a .icon-clr7, #services .services-all .s-container5 a .icon-clr7, #services .services-all .s-container6 a .icon-clr7, #services .services-all .s-container7 a .icon-clr7 {
  background-color: #ce4125;
}
#services .services-all .s-container1 a div.btn, #services .services-all .s-container2 a div.btn, #services .services-all .s-container3 a div.btn, #services .services-all .s-container4 a div.btn, #services .services-all .s-container5 a div.btn, #services .services-all .s-container6 a div.btn, #services .services-all .s-container7 a div.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  text-decoration: none;
  text-transform: uppercase;
}
#services .services-all .s-container1 a > div.icon, #services .services-all .s-container2 a > div.icon, #services .services-all .s-container3 a > div.icon, #services .services-all .s-container4 a > div.icon, #services .services-all .s-container5 a > div.icon, #services .services-all .s-container6 a > div.icon, #services .services-all .s-container7 a > div.icon {
  font-size: 2rem;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 17px;
}
#services .services-all .s-container1 a h3, #services .services-all .s-container2 a h3, #services .services-all .s-container3 a h3, #services .services-all .s-container4 a h3, #services .services-all .s-container5 a h3, #services .services-all .s-container6 a h3, #services .services-all .s-container7 a h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333645;
  padding-bottom: 10px;
  margin: 0 0 11px;
}
#services .services-all .s-container1 a p, #services .services-all .s-container2 a p, #services .services-all .s-container3 a p, #services .services-all .s-container4 a p, #services .services-all .s-container5 a p, #services .services-all .s-container6 a p, #services .services-all .s-container7 a p {
  margin-top: 0;
  color: #333645;
  line-height: 1.375rem;
  font-size: 0.8125rem;
}
#services .mobile-viewall a {
  color: #333645;
  text-decoration: none;
}
#services .mobile-viewall a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  #services .mobile-viewall {
    display: none;
  }
}
@media (min-width: 992px) {
  #services .mobile-viewall {
    display: none;
  }
}
@media (min-width: 1260px) {
  #services .mobile-viewall {
    display: none;
  }
}

.accreds-slide {
  display: flex;
  gap: 40px;
  justify-content: center;
  filter: grayscale(100%);
}
.accreds-slide:hover {
  filter: grayscale(0%);
}

/*# sourceMappingURL=style.css.map */
