*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: #666;
  margin: 0;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.4px;
  background-color: #fff;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

#page-wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 10;
  left: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.container-header {
  background-color: #fff;
  padding: 20px 0px;
}
.container-header .row-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 992px) {
  .container-header .row-header {
    justify-content: space-evenly;
  }
}
.container-header .row-header img {
  max-width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .container-header .row-header img {
    max-width: 85%;
  }
}
@media (min-width: 992px) {
  .container-header .row-header img {
    max-width: 85%;
  }
}
.container-header .row-header .phone-menu {
  display: flex;
  align-items: center;
}
.container-header .row-header .phone {
  margin-left: 15px;
}
.container-header .row-header a {
  text-decoration: none;
  color: #333645;
  font-size: 1rem;
}
.container-header .row-header a span {
  font-size: 25px;
}
@media (min-width: 768px) {
  .container-header .row-header {
    display: none;
  }
}
.container-header .actions {
  display: flex;
}
@media (min-width: 992px) {
  .container-header > * + * {
    margin-left: 20px;
  }
}
.container-header a {
  text-decoration: none;
  height: 56px;
  line-height: 46px;
  padding: 5px 15px;
  font-size: 1.125rem;
  border-radius: 3px;
  white-space: normal;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .container-header a {
    display: none;
  }
}
.container-header a span {
  margin-right: 5px;
  font-size: 1.438rem;
}
.container-header a.support {
  background-color: #4183d7;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.container-header a.support:hover {
  background-color: #4183d7;
}
.container-header a.support:hover {
  background-color: #286abd;
}
.container-header a.contact {
  background-color: #999aa2;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.container-header a.contact:hover {
  background-color: #999aa2;
}
.container-header a.contact:hover {
  background-color: #84858f;
}
@media (min-width: 460px) and (max-width: 768px) {
  .container-header .search-bar {
    display: none;
  }
}
@media (min-width: 1px) and (max-width: 460px) {
  .container-header .search-bar {
    display: none;
  }
}
.container-header .search-bar form {
  margin-bottom: 0;
}
.container-header .search-bar form label {
  display: none;
}
.container-header .search-bar form input {
  width: 174px;
  height: 55px;
  font-size: 13px;
  border-radius: 0;
  padding: 5px 15px;
  border-color: #ccc;
  display: inline-block;
  border: 2px solid #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), 0 0 8px rgba(91, 192, 222, 0.6);
}
@media (min-width: 992px) {
  .container-header .search-bar form {
    display: none;
  }
}
@media (min-width: 1260px) {
  .container-header .search-bar form {
    display: inline-block !important;
    width: 240px;
  }
}
.container-header button {
  border: none;
  height: 55px;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  position: relative;
  left: -7px;
  vertical-align: bottom;
  padding: 5px 20px 3px;
  border-radius: 0 5% 5% 0;
  background-color: #999aa2;
}
@media (min-width: 992px) and (max-width: 1259px) {
  .container-header button {
    border-radius: 3px;
  }
}
.container-header button:hover {
  background-color: #84858f;
}
.container-header .hamburger {
  display: block;
  cursor: pointer;
  margin-left: 20px;
  height: 56px;
  line-height: 46px;
  padding: 5px 15px;
  font-size: 1.125rem;
  border-radius: 3px;
  white-space: normal;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #333645;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}
.container-header .hamburger:hover {
  background-color: #333645;
}
.container-header .hamburgerhover {
  background-color: #121419;
}
.container-header .hamburger .box-ham {
  width: 33px;
  height: 19px;
  display: inline-block;
  position: relative;
}
.container-header .hamburger .bar-ham {
  top: 50%;
  transition: background-color 0.3s ease;
}
.container-header .hamburger .bar-ham, .container-header .hamburger .bar-ham::before .container-header .hamburger .bar-ham::after {
  content: "";
  height: 4px;
  width: 33px;
  display: block;
  position: inherit;
  transition: background-color 0.3s ease;
}
.container-header .hamburger .bar-ham::before {
  top: -10px;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}
.container-header .hamburger .bar-ham::after {
  bottom: -10px;
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
@media (min-width: 768px) {
  .container-header .hamburger .mobile-search {
    display: none;
  }
}
@media (min-width: 992px) {
  .container-header .hamburger .mobile-search {
    display: none;
  }
}
@media (min-width: 1260px) {
  .container-header .hamburger .mobile-search {
    display: none;
  }
}
.container-header .hamburger .mobile-search form {
  position: relative;
  margin-bottom: 0;
}
.container-header .hamburger .mobile-search form input {
  width: 100%;
  height: 47px;
  color: #555;
  font-size: 14px;
  border-radius: 2px;
  padding: 5px 15px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.container-header .hamburger .mobile-search form input:focus {
  outline: none;
  box-shadow: none;
}
.container-header .hamburger .mobile-search form input button {
  color: #333645;
  position: absolute;
  border: none;
  font-size: 19px;
  right: 5px;
  top: 30px;
  text-align: center;
  background: none;
}

footer {
  background-color: #323544;
  padding: 27px 0 0;
  position: relative;
}
footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 26px;
}

a {
  text-decoration: none;
  color: #fff;
}

.footer-all .netmatters-logo__footer {
  width: 250px;
}
@media (min-width: 480px) {
  .footer-all .netmatters-logo__footer {
    width: 320px;
  }
}
.footer-all .netmatters-logo__footer img {
  width: 100%;
}
.footer-all .netmatters-logo__footer h4 {
  margin-top: 24px;
}
.footer-all .social-logos {
  margin-bottom: 1.875em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-all .social-logos a {
  width: 35%;
  display: flex;
  line-height: 1.625em;
  font-size: 1.625em;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 16px;
  background-color: #212330;
}
@media (min-width: 480px) {
  .footer-all .social-logos a {
    width: auto;
  }
}
.footer-all .social-logos a.facebook:hover {
  background-color: #3b5998;
}
.footer-all .social-logos a.linkedin:hover {
  background-color: #0077b5;
}
.footer-all .social-logos a.twitter:hover {
  background-color: #00aced;
}
.footer-all .social-logos a.insta:hover {
  background-color: #d93175;
}
.footer-all .social-logos span {
  position: relative;
  top: 4px;
}

@media (min-width: 1260px) {
  footer {
    padding: 47px 0 0;
  }
}
@media (min-width: 1260px) {
  footer .footer-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
footer .footer-rows {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
@media (min-width: 768px) {
  footer .footer-rows {
    width: auto;
  }
}
@media (min-width: 1260px) {
  footer .footer-rows {
    width: 722px;
  }
}
footer .footer-rows .footer-list {
  margin-bottom: 30px;
  padding: 0 15px 0 15px;
}
footer .footer-rows .footer-list > h4 {
  margin-top: 0;
}
@media (min-width: 768px) {
  footer .footer-rows .footer-list {
    width: 50%;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  footer .footer-rows .footer-list {
    width: 25%;
  }
}
footer .footer-rows .footer-list ul.footer-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-rows .footer-list ul.footer-ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
footer .footer-rows .footer-list ul.footer-ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8125rem;
  line-height: 1.42;
  padding-top: 10px;
  width: 100%;
  background: initial #212330;
}
.footer-bottom .license, .footer-bottom a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.footer-bottom .license a:hover, .footer-bottom a a:hover {
  text-decoration: underline;
}
.footer-bottom .license span, .footer-bottom a span {
  display: flex;
  flex-direction: row;
}
.footer-bottom .license span.hyphen-hidden, .footer-bottom a span.hyphen-hidden {
  display: none;
}
@media (min-width: 768px) {
  .footer-bottom .license span.hyphen-hidden, .footer-bottom a span.hyphen-hidden {
    display: inline;
  }
}
@media (min-width: 768px) {
  .footer-bottom .license span, .footer-bottom a span {
    display: inline;
  }
}

.services-header a {
  color: #333645;
}

#page-banner {
  position: relative;
}
#page-banner .banner {
  display: flex !important;
  overflow: hidden;
  min-height: 550px;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
#page-banner .banner .img-banner {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.5;
}
@media (min-width: 992px) {
  #page-banner .banner .img-banner {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  #page-banner .banner .img-banner::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(270deg, transparent 25%, #000);
  }
}
#page-banner .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page-banner .banner .content-banner {
  z-index: 4;
  color: #fff;
  position: relative;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}
@media (max-width: 992px) {
  #page-banner .banner .content-banner {
    text-align: center;
    width: 100%;
  }
}
#page-banner .banner .content-banner h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 0 1.25rem;
}
@media (min-width: 992px) {
  #page-banner .banner .content-banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
#page-banner .banner .content-banner p {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 10px;
}
@media (min-width: 992px) {
  #page-banner .banner .content-banner p {
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}
#page-banner .banner .content-banner a.btn {
  margin: 1.125rem 0 1.938rem 0;
  height: auto;
  line-height: 50px;
  padding: 5px 20px;
  font-size: 1.25rem;
  border-radius: 3px;
  white-space: normal;
  text-decoration: none;
  text-transform: uppercase;
}
#page-banner .banner .content-banner a.btn.webdesign {
  background-color: #926fb1;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#page-banner .banner .content-banner a.btn.webdesign:hover {
  background-color: #926fb1;
}
#page-banner .banner .content-banner a.btn.webdesign:hover {
  background-color: #79539a;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#page-banner .banner .content-banner a.btn.webdesign:hover:hover {
  background-color: #79539a;
}
#page-banner .banner .content-banner i {
  margin-right: -4px;
  margin-left: 12px;
}

/*# sourceMappingURL=style.css.map */
