// Media Queries //

@mixin mq($breakpoint) {
    @if $breakpoint == "x-small" {
        @media (min-width: $break__xs) and (max-width: $break__sml) {
            @content;
        }
    } @else if $breakpoint == "small" {
        @media (min-width: #{$break__sml}) and (max-width: $break__med) {
            @content;
        }
    } @else if $breakpoint == "medium" {
        @media (min-width: #{$break__med}) {
            @content;
        }
    } @else if $breakpoint == "large" {
        @media (min-width: #{$break__l}) {
            @content;
        }
    } @else if $breakpoint == "x-large" {
        @media (min-width: #{$break__xl}) {
            @content;
        }
    } @else {
        @error "#{$breakpoint} is not a valid media query size!;"
    }
}

//btn class

@mixin btnclass(
    $height: auto,
    $line-h: 35px,
    $padding: 5px 15px,
    $font-size: 1.063rem,
    $radius: 3px,
    $text-trans: uppercase){
        height: $height;
        line-height: $line-h;
        padding: $padding;
        font-size: $font-size;
        border-radius: $radius;
        white-space: normal;
        text-decoration: none;
        text-transform: $text-trans;
}

// Viewstyle

@mixin viewstyle {
    font-size: 1.635rem;
    font-weight: 600;
    text-decoration: none;
    color: $dark-txt;
}


// Hover Transition with Unique Colors

@mixin hover-trans ($clr){
    background-color: $clr;
    border-color: $clr;
    top: -10px;
    transition: .5s ease;
}

@mixin about-txt {
    margin-bottom: 25px;
    line-height: 1.875rem;
    width: 70%;
    
    div {
        width: 50%;
        h2{
            font-size: 2.25rem;
            color: #fff;
            font-weight: 600;
        }
    
        p {
            font-size: 1rem;
            & {
                margin: 0 0 10px;
            }
            strong {
                color: #fff;
                font-size: 1rem;
                a{
                    text-decoration: none;
                    color: #fff;
                    a:hover {
                        text-decoration: underline;
                    }
                    a:visited {
                        color: #fff;
                    }
                    a:active {
                        color: #fff;
                    }
                }
            }
        }
    }

    div {
        span {
            i {
                color: goldenrod;
                font-size: 3.125rem;
            }
        }
        big {
            font-size: 1.875rem;
            width: 50%;
        }
    }

}

@mixin about-div-btn {
    a {
        color: #fff;
        background-color: $dark-btn;
        padding: 10px 30px;
        border-radius: 6px;
        font-size: 1.25rem;
        &:hover {
            background-color: darken($dark-btn, 8%);
        }
    }
}