// Btn color and hover


@mixin btn-style($bg-color, $hover-color) {
    background-color: $bg-color;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $hover-color;
    }
}

// Container

.container {
    margin-right:  auto;
    margin-left:   auto;
    padding-left:  15px;
    padding-right: 15px;


    @include mq(medium) {
        width: 750px;
        }
  
    @include mq(large) {
        width: 970px;
    }
    
    @include mq(x-large) {
        width: 1200px;
    }
}