// Base Footer //--

footer {
    background-color: $dark-bg;
    padding: 27px 0 0;
    position: relative;

    h4 {
        color:#fff;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 100;
        margin-bottom: 26px;
    }
}

a {
    text-decoration: none;
    color: #fff;
}

// Footer //--

.footer-all {

    .netmatters-logo__footer {
        width: 250px;
        @media (min-width: 480px) {width: 320px;}
        img{
            width: 100%;
        }
        & h4 {
            margin-top: 24px;
        }
    }


    .social-logos {
        margin-bottom: 1.875em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        & a {
            width: 35%;
            display: flex;
            line-height: 1.625em;
            font-size: 1.625em;
            margin-right: 10px;
            margin-bottom: 10px;
            align-items: center;
            justify-content: center;
            padding: 12px 22px 16px;
            background-color: $footer-drk;

            @media (min-width: 480px){width:auto;}

            &.facebook:hover{background-color: $fb-hov;}
            &.linkedin:hover{background-color: $linked-hov;}
            &.twitter:hover{background-color: $twt-hov;}
            &.insta:hover{background-color: $insta-hov;}
        }

        span {
            position: relative;
            top: 4px;
        }
    }
}

// Footer Rows (Lists) //--

footer {
    @include mq(x-large){padding: 47px 0 0;}

    .footer-all {
        @include mq(x-large){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between
        }
    }

    .footer-rows {
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        @include mq(medium){width: auto;}
        @include mq(x-large){width: 722px;}

        .footer-list {
            margin-bottom: 30px;
            padding: 0 15px 0 15px;

            & > h4 {
                margin-top: 0;
            }

            @include mq(medium){width: 50%; padding-left: 0;}
            @include mq(large){width: 25%;}

            ul.footer-ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    font-size: 0.8125rem;
                    line-height: 1.375rem;

                    a:hover {text-decoration: underline;}

                }
            }  

        }
    }
}

// Footer Bottom //--

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8125rem;
    line-height: 1.42;
    padding-top: 10px;
    width: 100%;
    background: initial $footer-drk;

    .license, & a{
        margin: 0;
        color: #fff;
        text-decoration: none;

        & a:hover {
            text-decoration: underline;
        }

        span {
            display: flex;
            flex-direction: row;
            &.hyphen-hidden {
                display: none;
                @include mq(medium) {
                    display: inline;
                }
            }

            @include mq(medium) {
                display: inline;
            }
        }

    }
}