//============//
//   Header
//===========//

.header-container {background-color: #fff;
    padding: 20px 0px;

    .header-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .menu-div {
            display: flex;
            align-items: center;

            .phone {
                @media (min-width:768px) {
                    display: none;
                }

                margin-left: 15px;
            }

            .menu-actions {
                display: flex;

                & a.btn {
                    text-decoration: none;
                    height: 56px;
                    line-height: 46px;
                    padding: 5px 15px;
                    font-size: 1.125rem;
                    border-radius: 3px;
                    white-space: normal;
                    text-transform: uppercase;
                }

                & a.support {
                    color:#fff;
                    background-color: $nav-it;
                    
                }

                & a.contact {
                    color: #fff;
                    background-color: $btn-contact;
                }

                & > * + * {
                    @media (min-width: 992px) {
                        margin-left: 20px;
                    }
                }

                & .menu-search {
                    form {
                        margin-bottom: 0;

                        label {
                            display: none;
                        }

                        input {

                            width: 174px;
                            height: 55px;
                            font-size: 13px;
                            border-radius: 0;
                            padding: 5px 15px;
                            border-color: $border-grey;
                            display: inline-block;
                            border: 8px solid #e5e5e5;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);

                            @media(min-width: 1260px) {
                                display: inline-block !important;
                                width: 240px;
                            }

                            @media (min-width: 992px) {
                                display: none;
                            }
                                
                        }

                        & button {
                            border: none;
                            height: 55px;
                            font-size: 1.3rem;
                            color: white;
                            cursor: pointer;
                            position: relative;
                            left: -7px;
                            vertical-align: bottom;
                            padding: 5px 20px 3px;
                            border-radius: 0 5% 5% 0;
                            background-color: $btn-contact;
                        }

                    }
                    
                }
                
                .hamburger {
                    display: block;
                    margin-left: 20px;
                    height: 56px;
                    line-height: 46px;
                    padding: 5px 15px;
                    font-size: 1.125rem;
                    border-radius: 3px;
                    white-space: normal;
                    text-decoration: none;
                    text-transform: uppercase;
                    color:#fff;
                    background-color: $dark-bg;
                    border-color: $dark-bg;

                    .ham-bar {

                        .ham-box {
                            
                        }
                    }
                }
            }

        }

    }

}

