.navigation {
    position: relative;
    background-color: $dark-txt;
    @media (max-width: $break--l){display: none;}

    ul.main-nav {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    ul.main-nav{
        & > li {
            list-style: none;
            text-align: center;
            :hover{cursor: pointer;}

            & > a {
                display: block;
                color: #fff;
                line-height: 1;
                padding: 19px 0 18px;
                text-decoration: none;
                text-transform: uppercase;

                &:not(i, small) {
                    font-size: 1.125rem;
                }

                i {
                    display: block;
                    font-size: 1.23rem;
                    padding-bottom: 10px;
                }

                small{
                    display: block;
                    font-size: .625rem;
                    padding-bottom: 1px;
                }
            }
        }

        &.bespoke > a > i {color: $nav-software;}
        &.support > a  > i {color: $nav-it;}
        &.marketing > a > i {color: $nav-digital;}
        &.telecoms > a > i {color: $nav-telecom;}
        &.web > a > i {color: $nav-webdesign;}
        &.cyber > a > i {color: $nav-cyber;}
        &.dev > a > i {color: $nav-developer;}

        &.bespoke:hover, &.bespoke:hover > a > i {@include btn-style($nav-software, $nav-software);}
        &.support:hover, &.support:hover > a > i {@include btn-style($nav-it, $nav-it);}
        &.marketing:hover, &.marketing:hover > a > i {@include btn-style($nav-digital, $nav-digital);}
        &.telecoms:hover, &.telecoms:hover > a > i {@include btn-style($nav-telecom, $nav-telecom);}
        &.web:hover, &.web:hover > a > i {@include btn-style($nav-webdesign, $nav-webdesign);}
        &.cyber:hover, &cyber:hover > a > i {@include btn-style($nav-cyber, $nav-cyber);}
        &.dev:hover, &.dev:hover > a > i {@include btn-style($nav-developer, $nav-developer);}
    }
}

/// Dropdown Menu

.navigation ul.main-nav > li {
    & > div.dropdown {
        margin: 0;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        z-index: 10;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: #1d1f28;

        & > ul.container {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: -15px;
            list-style: none;
            text-align: left;

            & > li.drop-title {
                width: 100%;
                color: #fff !important;
                margin-bottom: 10px;
                margin-top: 15px;
                font-weight: 500;
                font-size: 2rem;
            }

            & > li {
                width: 33%;
                margin-top: 15px;

                & > a {
                    color: #fff;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    font-size: 1.2rem;
                    line-height: 1.313rem;
                    padding: .625rem .938rem .625rem 0;
                    & > span:hover {text-decoration: underline;}

                    & > i {
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        min-width: 25px;
                    }

                    & > span {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    //Display Drop Menu


    &.bespoke:hover > div.dropdown{display: block; background-color: $nav-software-drk;}
    &.support:hover > div.dropdown{display: block; background-color: $nav-it-drk;}
    &.marketing:hover > div.dropdown{display: block; background-color: $nav-digital-drk;}
    &.telecoms:hover > div.dropdown{display: block; background-color: $nav-telecom-drk;}
    &.web:hover > div.dropdown{display: block; background-color: $nav-webdesign-drk;}
    &.cyber:hover > div.dropdown{display: block; background-color: $nav-cyber-drk;}
    &.dev:hover > div.dropdown{display: block; background-color: $nav-developer-drk;}
}