*,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    color: #666;
    font-size:1rem;
    font-family: "Poppins", sans-serif;
    letter-spacing:0.4px;
    background-color: #fff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

#container {
    height: 100%;
    position: relative;
    overflow: hidden;
    transition: all .5s;
    z-index: 10;
    left: 0;
}